.titleMain{
    font-size:200%;
    text-align: center;
    margin: 1 auto;
    border:solid black 20px;
    


}

.subTitle{
    font-size:100%;
    text-align: center;
    margin: 1 auto;
    border:solid black 20px;



}